.container{
    display: flex;
  height: 10rem;
  font-size: 2rem;
  color: black;
  justify-content: center;
  align-items: center
}
.pause-btn{
  font-size: 17px;
  font-weight: bold;
  font-stretch: extra-expanded
};
.action-bar{
  display: flex;
  justify-content: space-around
};